nav {
    padding-bottom: 0;
}
nav p {
    margin-bottom: 0;
}

.articles-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 12rem);
    place-content: center;
    padding: 2rem;
    gap: 1.7rem;
    row-gap: 3rem;
}
.articles-container:empty{
    display: none;
}

.slider {
    --slide-width: clamp(12rem, 75vw, 12rem);
    --slide-height: clamp(12rem, 75vh, 12rem);
}
.error-container {
    text-align: center;
}

.error{
    font-size: 2rem;
    color: var(--text-color-light);
    font-weight: 600;
}