.mainDiv{
    
    border:2px solid darkgray;
    padding: 20px;
    border-radius: 30px;
    border-color: black;
    text-align: center;
    width: 50vw;
    margin: auto;
    font-size: 25px;
}
body{
    text-align: center;
}
#errorContainer{
    color: red;
}













































































































































































































































