.images-container {
    width: 100%;
    min-height: 20rem;
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    background: linear-gradient(135deg, #444cf755 25%, transparent 25%) -10px 0/
            20px 20px,
        linear-gradient(225deg, #444cf7 25%, transparent 25%) -10px 0/ 20px 20px,
        linear-gradient(315deg, #444cf755 25%, transparent 25%) 0px 0/ 20px 20px,
        linear-gradient(45deg, #444cf7 25%, #e5e5f7 25%) 0px 0/ 20px 20px;
}

.images-container,
image {
    width: 90%;
    height: auto;
}

.error_conteiner{
    color: red;
}

.information-container{
    color: green;
}