body {
    position: relative;
}
.select-type {
    margin-block: 1rem;
    border: var(--btn-border-primary);
    border-radius: var(--border-radius);
    overflow: hidden;
}
.error-container {
    text-align: center;
}
.articles-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 12rem);
    place-content: center;
    padding: 2rem;
    gap: 1.7rem;
    row-gap: 3rem;
}

.article {
    box-shadow: var(--shadow);
    border-radius: 5px;
    overflow: hidden;
}

.article .image {
    width: 90%;
    object-fit: cover;
}

.article .content {
    padding: 1rem;
}
.article .type {
    color: var(--text-color-gray);
}

.slider {
    --slide-width: clamp(12rem, 75vw, 12rem);
    --slide-height: clamp(12rem, 75vh, 12rem);
}
