@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    /*colors*/
    --primary-color: #0686a2;
    --secondary-color: rgb(255, 185, 10);
    --background-color: #f2f2f2;
    --text-color: #1e0505;
    --text-color-light: #a01818;
    --text-color-lighter: #f3f3f3;
    --text-color-dark: #100101;
    /*font sizes*/
    --small-font-size: 0.8rem;
    --normal-font-size: 1rem;
    --big-font-size: 1.5rem;
    /*font family*/
    --font-family: "Roboto", sans-serif;
    /*border radius*/
    --border-radius: 0.25rem;
    /*button border*/
    --btn-border-primary: 1px solid var(--primary-color);
    --btn-border-secondary: 1px solid var(--secondary-color);
    /*box shadow*/
    --shadow-color: rgba(116, 18, 18, 0.341);
    --shadow: 0 5px 15px var(--shadow-color);
    /*transition*/
    --transition-fast: 0.15s ease-in-out;
    --transition: 0.2s ease-in-out;
    --transition-slow: 0.35s ease-in-out;
    /*link-slider-spacing*/
    --link-slider-width: -4px;
    --link-slider-offset: -1px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    color: var(--text-color);
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: var(--normal-font-size);
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
    color: var(--text-color);
    display: inline-block;
    position: relative;
}
.link::after {
    content: "";
    background-color: var(--primary-color);
    position: absolute;
    bottom: var(--link-slider-width);
    left: var(--link-slider-offset);
    top: 100%;
    right: 100%;
    z-index: -1;
    animation: link-after-out var(--transition-fast) forwards;
}
.link:hover::after {
    animation: link-after-in var(--transition-fast) forwards;
}

.btn {
    display: inline-block;
    color: var(--text-color-lighter);
    font-size: var(--small-font-size);
    font-weight: 600;
    background-color: var(--primary-color);
    padding: 0.6rem 1.5rem;
    border: var(--btn-border-primary);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: var(--transition-slow);
}
.btn:hover {
    color: var(--text-color);
    background-color: var(--background-color);
}
.input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: var(--normal-font-size);
    border: 1px solid var(--text-color);
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
}

@keyframes link-after-out {
    from {
        right: 0;
    }
    to {
        right: calc(100% - var(--link-slider-width));
    }
}
@keyframes link-after-in {
    from {
        right: 100%;
    }
    to {
        right: 0;
    }
}
