@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    /*colors*/
    --primary-color: #0686a2;
    --secondary-color: rgb(255, 185, 10);
    --background-color: #f2f2f2;
    --text-color: #1e0505;
    --text-color-gray: #606f7d;
    --text-color-light: #a01818;
    --text-color-lighter: #f3f3f3;
    --text-color-dark: #100101;
    /*font sizes*/
    --small-font-size: 0.8rem;
    --normal-font-size: 1rem;
    --big-font-size: 1.5rem;
    /*font family*/
    --font-family: "Roboto", sans-serif;
    /*border radius*/
    --border-radius: 0.25rem;
    /*button border*/
    --btn-border-primary: 1px solid var(--primary-color);
    --btn-border-secondary: 1px solid var(--secondary-color);
    /*box shadow*/
    --shadow-color: rgba(26, 81, 83, 0.241);
    --shadow: 0 5px 15px var(--shadow-color);
    /*transition*/
    --transition-fast: 0.15s ease-in-out;
    --transition: 0.2s ease-in-out;
    --transition-slow: 0.35s ease-in-out;
    /*link-slider-spacing*/
    --link-slider-width: -4px;
    --link-slider-offset: -1px;

    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    transition: all var(--transition-fast);
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: var(--normal-font-size);
    margin: 0;
    padding: 0;
}

header {
    padding: 1rem;
    text-align: center;
    filter: drop-shadow(0 0 0.75rem var(--secondary-color));
}

main {
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    color: var(--text-color-lighter);
}

label {
    display: block;
    margin-bottom: 0.2rem;
}

.link {
    text-decoration: none;
    color: var(--text-color);
    display: inline-block;
    position: relative;
}
.link::after {
    content: "";
    background-color: var(--primary-color);
    position: absolute;
    bottom: var(--link-slider-width);
    left: var(--link-slider-offset);
    top: 100%;
    right: 100%;
    /* z-index: -1; */
    animation: link-after-out var(--transition-fast) forwards;
}
.link:hover::after {
    animation: link-after-in var(--transition-fast) forwards;
}

.btn {
    display: inline-block;
    color: var(--text-color-lighter);
    font-size: var(--small-font-size);
    font-weight: 600;
    background-color: var(--primary-color);
    padding: 0.6rem 1.5rem;
    border: var(--btn-border-primary);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: var(--transition-slow);
}
.btn[disabled] {
    background-color: var(--background-color);
    border: 1px solid gray;
    color: gray;
    cursor: not-allowed;
}
.btn:hover {
    color: var(--text-color);
    background-color: var(--background-color);
}
.secondary {
    background-color: var(--secondary-color);
    border: var(--btn-border-secondary);
}
.input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: var(--normal-font-size);
    border: 1px solid var(--text-color);
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
}

.article {
    box-shadow: var(--shadow);
    border-radius: 5px;
    overflow: hidden;
    background: var(--background-color);
}

.article .image {
    width: 90%;
    object-fit: cover;
}

.article .content {
    padding: 1rem;
    padding-bottom: 1.2rem;
}
.article .name{
    margin-top: .2rem;
}
.article .type {
    color: var(--text-color-gray);
}

.proposals-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
}
.proposal {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1.5rem;
    background: var(--text-color-lighter);
    border: var(--btn-border-primary);
}
.proposal-content {
    font-size: 1.2rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}
.proposal {
    border: 2px solid var(--text-color);
    border-radius: 0.5rem;
    overflow: hidden;
}
.declined {
    border: 2px solid var(--text-color-light);
}
.declined .proposal-content {
    color: var(--text-color-light);
}
.declined .article {
    box-shadow: 0 5px 15px #a018186b;
}
.accepted {
    border: 2px solid var(--primary-color);
}
.accepted .proposal-content {
    color: var(--primary-color);
}
.accepted .article {
    box-shadow: 0 5px 15px #0685a28b;
}

@keyframes link-after-out {
    from {
        right: 0;
    }
    to {
        right: calc(100% - var(--link-slider-width));
    }
}
@keyframes link-after-in {
    from {
        right: 100%;
    }
    to {
        right: 0;
    }
}

.slider-wrapper {
    position: relative;
}

.slider {
    --slide-width: clamp(320px, 75vw, 800px);
    --slide-height: clamp(240px, 75vh, 600px);

    display: grid;
    grid-auto-flow: column;
    scroll-snap-type: x mandatory;
    max-width: var(--slide-width);
    box-shadow: 0 2px 15px rgba(#000, 0.2), 0 2px 20px rgba(#000, 0.25);
    overflow-y: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slide {
    scroll-snap-align: start;
    width: var(--slide-width);
    height: var(--slide-height);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    gap: 15px;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.dots a {
    --dots-size: 12px;

    width: var(--dots-size);
    height: var(--dots-size);
    border-radius: 50%;
    border: 1px solid black;
    background-color: #afafaf;
    transition: ease 250ms;
    cursor: pointer;
}
.dots a:hover {
    background-color: white;
}

.default-image {
    background: linear-gradient(135deg, #444cf755 25%, transparent 25%) -10px 0/
            20px 20px,
        linear-gradient(225deg, #444cf7 25%, transparent 25%) -10px 0/ 20px 20px,
        linear-gradient(315deg, #444cf755 25%, transparent 25%) 0px 0/ 20px 20px,
        linear-gradient(45deg, #444cf7 25%, #e5e5f7 25%) 0px 0/ 20px 20px;
}
